<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>

			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>

			<aspNetCore processPath="dotnet"
						arguments=".\EventPlatform.WebApi.dll"
						stdoutLogEnabled="false"
						stdoutLogFile=".\logs\stdout"
						hostingModel="inprocess">
			</aspNetCore>

			<security>
				<requestFiltering>
					<hiddenSegments>
						<remove segment=".env" />
						<add segment=".env" />
					</hiddenSegments>
				</requestFiltering>
			</security>

		</system.webServer>
	</location>
</configuration>