<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>

			<httpErrors errorMode="Detailed" existingResponse="PassThrough" />

			<aspNetCore processPath="dotnet"
						arguments=".\EventPlatform.WebApi.dll"
						stdoutLogEnabled="true"
						stdoutLogFile=".\logs\stdout"
						hostingModel="inprocess">

				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
				</environmentVariables>

			</aspNetCore>

			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>

			<security>
				<requestFiltering>
					<hiddenSegments>
						<remove segment=".env" />
						<add segment=".env" />
					</hiddenSegments>
				</requestFiltering>
			</security>

		</system.webServer>
	</location>
</configuration>